<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/About.html">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/Issues.html">Issues</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/Media.html">Media</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>