<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/aboutjournal.html">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/archive.html">Archive</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/media.html">Media</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/submissions.html">Submissions</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>