/*
    New Formatting by Q
*/
#indexheader {
    width: 100%;
    height: 350px;
    margin-top: 0px;
    margin-bottom: 75px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/pano3.jpg);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: 2000px;
}
#headerimg {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    height:150px;
}
.np-2 {
    border-left:4px solid lightskyblue;
    padding-left:15px;
    min-height:100px;
}

/* About Nav */
.about-nav-link {
    color:grey;
}
.about-nav-link:hover {
    color:black;
}
.about-nav-current-page {
    color:black;
}

/* Editor Page */
.editor-box {
    display:flex;
    margin-bottom:30px;
}
.editor-pic {
    height:200px;
    width:200px;
}
.editor-pic img {
    height:200px;
    width:200px;
}
.editor-info {
    width:75%;
    margin-left:25px;
    /*margin-top:auto;
    margin-bottom:auto;*/
}
.editor-info p,h2{
    margin-top:0px;
    margin-bottom:0px;
}